<h2 id="profile"><%= @user.email %>'s fresh pics:</h2>

<div id="gallery-wrapper">
	
	
	<% @flowers.each do |f| %>	
	<div class="photo-div">
			<img src="<%= f.content %>">
			<h4><%= f.name%></h4>
			<img id="tape" src="https://i127.photobucket.com/albums/p142/cy360/GA%20home%20page/tape2.png">
	
			<p><%= link_to 'View Post', user_flower_path(@user, f.id) %></p>
			
	</div>
	<% end %>
</div>
