<h1>Check out these flowers by <%= @user.email %></h1>
Super cool

<div id="gallery-wrapper">
	<% @flowers.each do |f| %>
	<div class="photo-div">
		
			<span></span>
			<img src="<%= f.content %>">
			<h4><%= f.name%></h4>
	
			<%= link_to 'View Post', user_flower_path(@user, f.id) %>
			<% end %>
	</div>
</div>
